<body class="container"> 
<%= form_tag(articles_path, :method => 'get') do %>
  <%= text_field_tag :search %>
  <%= submit_tag '検索', :name => nil ,:id=>"search-btn"%>
<% end %>

<% @articles.each do |article| %>
  <div class="article-index">
  	<div class="article-info">
      <h2><%= link_to "#{article.title}", article_path(article) %></h2>
      <span class="articles-cal"><i class="fas fa-calendar-alt m1"></i><%= article.created_at.to_s(:ymd) %></span>
      <p class="article-description"><%= article.text.truncate(120) %></p>
    </div>
    <%= link_to article_path(article) do %>
    <div class="article-read-more">Read More</div>
    <% end %>
  </div>
<% end %>
<%= will_paginate @articles, previous_label: '&#8592; &nbsp;前', next_label: '次 &#8594;', inner_window: 1, outer_window: 0 %>
</body>
</html>
