<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="カツオです。">
    <meta name="keywords" content="katsuo,カツオ,鰹,かつお">
    <meta name="robots" content="index,follow">
    <meta property="og:title" content="KATSUOBLOG">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://katsuoblog.herokuapp.com">
    <meta property="og:site_name" content="KATSUOBLOG">
    <meta property="og:description" content="カツオです。">
    <title>KATSUO</title>
    <%= favicon_link_tag() %>

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
