<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="カツオのブログだから鰹節">
    <meta name="keywords" content="鰹節,katsuobshi,katsuo,カツオ,鰹,かつお">
    <meta name="robots" content="index,follow">
    <meta property="og:title" content="KATSUOBUSHI">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://katsuobushi.herokuapp.com">
    <meta property="og:site_name" content="KATSUOBUSHI">
    <meta property="og:description" content="カツオのブログだから鰹節">
    <title>KATSUOBUSHI</title>
    <%= favicon_link_tag() %>

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="top-menu">
        <p><%= link_to "Katsuobushi", root_path %></p>
    </div>
    <div class="main-container">
      <%= yield %>
    </div>
    <div class="footer">©️Katsuo</div>
  </body>
</html>
